@using WebApplication1.Models
@model Announcement
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, MeetingApp
<h1>Duyuru Ekle</h1>

<form action="/Ann/NewAnn" method="post">
    <div>
        <label asp-for="Title">Başlık:</label>
        <input asp-for="Title" type="text"   required />
    </div>
    
    <div>
        <label asp-for="Text">Metin:</label>
        <textarea asp-for= "Text" required></textarea>
    </div>
    
    <div>
        <label asp-for="ResponsiblePerson">Sorumlu Kişi:</label>
        <input asp-for="ResponsiblePerson"type="text"    required />
    </div>
    
    <div>
        <label asp- for="date">Tarih:</label>
        <input asp-for ="date"type="datetime-local"   required />
    </div>

    <div>
        <button type="submit">Duyuru Ekle</button>
    </div>
</form>


