@using WebApplication1.Models
@model List<Announcement>




<h1>DUYURULAR</h1>
<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Başlık</th>
                <th>Metin</th>
                <th>Sorumlu Kişi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Duyuru Başlığı 1</td>
                <td>Bu bir duyuru metnidir.</td>
                <td>Ali Veli</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Duyuru Başlığı 2</td>
                <td>Bu başka bir duyuru metnidir.</td>
                <td>Ayşe Yılmaz</td>
            </tr>
            <!-- Daha fazla duyuru ekleyebilirsiniz -->
        </tbody>
    </table>
