@using WebApplication1.Models
@model List<Announcement>




<h1>DUYURULAR</h1>
<table>
        <thead>
            <tr>
                <th> </th>
                <th>Başlık</th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach(Announcement in Model){
                <tr>
                <td>1</td>
                <td>Duyuru Başlığı 1</td>
                <td>Bu bir duyuru metnidir.</td>
                <td>Ali Veli</td>
            </tr>

            }
            
            
            <!-- Daha fazla duyuru ekleyebilirsiniz -->
        </tbody>
    </table>
