@using WebApplication1.Models
@model List<Announcement>




<h1>DUYURULAR</h1>
<table>
        <thead>
            <tr>
                <th> </th>
                <th>Başlık</th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach(Announcement a in Model){
                <tr>
                <td>@a.date</td>
                <td>@a.Title</td>
              
            </tr>

            }
            
            
            <!-- Daha fazla duyuru ekleyebilirsiniz -->
        </tbody>
    </table>
@Html.ActionLink("Yeni duyuru ekle","NewAnn","Ann")
